 @import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerfooter{
    max-width: 1170px;
    background-color: #A852A9;
    margin: auto;
}
.rowfooter{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
background-color:#A852A9; 
padding: 70px 0; 
font-family: 'Pattaya', sans-serif;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom:35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#F2F2F2;
    display: block;
    transition:all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.footer-col ul li a:hover{
    color:#000;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#000;
    background-color: #fff;
}

/* responsive*/

@media(max-width: 767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
.footer-col{
    width: 100%;
}
}

.credit{

text-align: center; 
font-size: 23px;
 color: white;
 padding-top: 17px;
}